// Structure UI : Copyright Neural Systems Inc.

$Link: 'l-';
$linkˉselectedˉattribute: 's';
$linkˉdisabledˉattribute: 'd';

#{$Link}
{
    display: inline-block;
    position: sticky;
    color: #3965B5;
    cursor: pointer;

    &:hover
    {
        color: black;
    }   

    &[#{$linkˉselectedˉattribute}]
    {
        color: #cbc1c1;
    }    

    &[#{$linkˉdisabledˉattribute}]
    {
        color: gray;
    }
}
