[Unit]
Description=Structure-UI-Gallery.Next
[Service]
WorkingDirectory=/Apps/Structure-UI-Gallery.Next
ExecStart=/usr/bin/dotnet /Apps/Structure-UI-Gallery.Next/Structure-UI-Gallery.dll
Restart=always
RestartSec=10  # Restart service after 10 seconds if dotnet service crashes
SyslogIdentifier=Structure-UI-Gallery.Next
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ASPNETCORE_URLS=http://*:4151
[Install]
WantedBy=multi-user.target